<div class="container">
	<% @sneakers.each do |sneaker| %>
	<div class="container">
		<h1><%= link_to sneaker.title, sneaker_path(sneaker) %></h1>
	</div>
	<% end %>
	<%= link_to "Add Sneaker", new_sneaker_path %>
</div>
